
SetEnv HTTP_DB_USER "root"

SetEnv HTTP_DB_PASSWORD "password"

#SetEnv HTTP_DB_HOST "127.0.0.1"
SetEnv HTTP_DB_HOST "localhost"

SetEnv HTTP_DB_NAME "ada"

SetEnv HTTP_DB_SALT "A38446C4759E5"

SetEnv HTTP_DB_SALT_ID "1"

SetEnv ONESIGNAL_API_KEY "OWNhOTc1OTUtYzQwZS00OWIyLWJjMzktNTY0ZWVkYTM$

SetEnv ONESIGNAL_APP_ID "9d250ffb-c8a0-436f-90c7-12f84844012a"
